/*------------------------------------*\
  Trumbs > Align
\*------------------------------------*/

.u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

.u-text-center {
  text-align: center;
}

.u-text-justify {
  text-align: justify;
}