/*------------------------------------*\
  Trumbs > Typography
\*------------------------------------*/

.u-font-medium  {
  font-size: $font-size-medium;
  line-height: $line-height-medium;
}

.u-font-small {
  font-size: $font-size-small;
  line-height: $line-height-small;
}

.u-font-tiny {
  font-size: $font-size-tiny;
  line-height: $line-height-tiny;
}